<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" href ="./css/styles.css"> 
    <title> About</title>
     <link rel ="icon" href ="/img/weather.png">
</head>
<body>
    
    <div class = "main-content">
    {{>header}}
    <p>This site was created by JD McDaniel. It uses data from mapbox.com and weatherstack.com!</p>
    <img class = 'portrait' src = "/img/sarah.jpg"
    <br>    

    </div>
    

    {{>footer}}

</body>
</html>





